# San Francisco Rental Prices Dashboard

In this notebook, you will compile the visualizations from the previous analysis into functions that can be used for a Panel dashboard.

In [46]:
# initial imports
import os
import pandas as pd
import panel as pn
import plotly.express as px
from pathlib import Path
from dotenv import load_dotenv

In [47]:
# Initialize the Panel Extensions (for Plotly)
pn.extension('plotly')

In [48]:
import hvplot.pandas

In [49]:
import matplotlib.pyplot as plt

In [50]:
# Read the Mapbox API key
load_dotenv()
mapbox_token = os.getenv("mapbox")
px.set_mapbox_access_token(mapbox_token)

# Import Data

In [51]:
# Import the CSVs to Pandas DataFrames
sfo_path = Path("Data/sfo_neighborhoods_census_data.csv")
sfo_data = pd.read_csv(sfo_path).drop_duplicates()

neighborhood_path = Path("Data/neighborhoods_coordinates.csv")
neighborhood_locations = pd.read_csv(neighborhood_path).drop_duplicates()

In [52]:
neighborhood_data = (
    pd.concat([sfo_data, neighborhood_locations], axis=1, sort=True)
    .dropna()
    .reset_index()
)
neighborhood_data.head()

,index,year,neighborhood,sale_price_sqr_foot,housing_units,gross_rent,Neighborhood,Lat,Lon
0,0,2010,Alamo Square,291.182945,372560,1239,Alamo Square,37.791012,-122.402100
1,1,2010,Anza Vista,267.932583,372560,1239,Anza Vista,37.779598,-122.443451
2,2,2010,Bayview,170.098665,372560,1239,Bayview,37.734670,-122.401060
3,3,2010,Buena Vista Park,347.394919,372560,1239,Bayview Heights,37.728740,-122.410980
4,4,2010,Central Richmond,319.027623,372560,1239,Bernal Heights,37.728630,-122.443050

In [53]:
neighborhood_data = neighborhood_data.drop(columns="neighborhood")
neighborhood_data.head()

,index,year,sale_price_sqr_foot,housing_units,gross_rent,Neighborhood,Lat,Lon
0,0,2010,291.182945,372560,1239,Alamo Square,37.791012,-122.402100
1,1,2010,267.932583,372560,1239,Anza Vista,37.779598,-122.443451
2,2,2010,170.098665,372560,1239,Bayview,37.734670,-122.401060
3,3,2010,347.394919,372560,1239,Bayview Heights,37.728740,-122.410980
4,4,2010,319.027623,372560,1239,Bernal Heights,37.728630,-122.443050

In [54]:
neighborhood_index = neighborhood_data.set_index("year").drop(columns="index")
neighborhood_index.head()

,sale_price_sqr_foot,housing_units,gross_rent,Neighborhood,Lat,Lon
year,,,,,,
2010,291.182945,372560,1239,Alamo Square,37.791012,-122.402100
2010,267.932583,372560,1239,Anza Vista,37.779598,-122.443451
2010,170.098665,372560,1239,Bayview,37.734670,-122.401060
2010,347.394919,372560,1239,Bayview Heights,37.728740,-122.410980
2010,319.027623,372560,1239,Bernal Heights,37.728630,-122.443050

In [55]:
neighborhood_index = neighborhood_index.rename(
    columns={"sale_price_sqr_foot": "Price per Sqr Foot",
            "housing_units": "Housing Unites",
            "gross_rent": "Gross Rent",
            "Lat": "Latitude",
            "Lon": "Longitude"})
neighborhood_index.head()

,Price per Sqr Foot,Housing Unites,Gross Rent,Neighborhood,Latitude,Longitude
year,,,,,,
2010,291.182945,372560,1239,Alamo Square,37.791012,-122.402100
2010,267.932583,372560,1239,Anza Vista,37.779598,-122.443451
2010,170.098665,372560,1239,Bayview,37.734670,-122.401060
2010,347.394919,372560,1239,Bayview Heights,37.728740,-122.410980
2010,319.027623,372560,1239,Bernal Heights,37.728630,-122.443050

- - -

## Panel Visualizations

In this section, you will copy the code for each plot type from your analysis notebook and place it into separate functions that Panel can use to create panes for the dashboard. 

These functions will convert the plot object to a Panel pane.

Be sure to include any DataFrame transformation/manipulation code required along with the plotting code.

Return a Panel pane object from each function that can be used to build the dashboard.

Note: Remove any `.show()` lines from the code. We want to return the plots instead of showing them. The Panel dashboard will then display the plots.

In [56]:
# Define Panel Visualization Functions
def housing_units_per_year():
    """Housing Units Per Year."""
sfo_housing_units = sfo_data.groupby("year")["housing_units"].mean()
#return px.bar(sfo_housing_units, range_y=("360000", "390000"),labels={"year": "Year", "value": "Housing Units"})

def average_gross_rent():
    """Average Gross Rent in San Francisco Per Year."""
sfo_avg_gross_rent = sfo_data.groupby("year")["sale_price_sqr_foot", "gross_rent"].mean()
#return px.line(sfo_avg_gross_rent, labels={"year": "Year"})

def average_sales_price():
    """Average Sales Price Per Year."""
sfo_sale_sqr_foot = sfo_data.groupby("year")["sale_price_sqr_foot"].mean()
#return px.line(sfo_sale_sqr_foot, labels={"year": "Year", "value": "Housing Units"})

def average_price_by_neighborhood():
    """Average Prices by Neighborhood."""
sfo_hood_avg = sfo_data.groupby(["year", "neighborhood"]).mean().reset_index()
sfo_hood_avg_plot = sfo_hood_avg.hvplot.line(x="year", y="sale_price_sqr_foot",
                                            groupby="neighborhood",
                                            xlabel="Year", ylabel="Sales Price per Square Foot")
#return sfo_hood_avg_plot

def top_most_expensive_neighborhoods():
    """Top 10 Most Expensive Neighborhoods."""
    
    # YOUR CODE HERE!


def parallel_coordinates():
    """Parallel Coordinates Plot."""
    
    # YOUR CODE HERE!


def parallel_categories():
    """Parallel Categories Plot."""
    
    # YOUR CODE HERE!


def neighborhood_map():
    """Neighborhood Map"""
    
    # YOUR CODE HERE!

## Panel Dashboard

In this section, you will combine all of the plots into a single dashboard view using Panel. Be creative with your dashboard design!

In [57]:
# YOUR CODE HERE!

## Serve the Panel Dashboard

In [58]:
panel.servable()

NameError: name 'panel' is not defined